VITE_SANITY_PROJECT_ID=fnmz0i7x
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2026-07-11
VITE_SITE_URL=https://www.famosnetwork.com

SANITY_STUDIO_PROJECT_ID=fnmz0i7x
SANITY_STUDIO_DATASET=production
